@import "color";
@import "mixins";
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/* ------------------
    extensions
-------------------*/

%w-opacity {
    opacity:0.7;
    transition: opacity ease 0.3s;
    &:hover {
        opacity:1;
    }
} 

/* ------------------
    fonts
-------------------*/

%primary-font {
    font-family: 'Poppins', sans-serif;
}

/* ------------------
    reset
-------------------*/

body {
   @extend %green;
   @extend %primary-font;
}

.btn.btn-primary,
.btn.btn-secondary {
    border:0;
    border-radius:0;
    color: $lightblue !important;
    padding:16px 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);

    span {
        position: relative;
        z-index:1;
    }

    &:before {
        content:'';
        width:85%;
        height:100%;
        position: absolute;
        bottom:0;
        right:0;
        background:$green;
        z-index:0;
        transition:all ease 0.3s;
    }
    &:hover {
        border:0;
        box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
        &:before {
            width:15%;
        }
    }
}

.btn.btn-primary {
    @extend %orange;
}

.btn.btn-secondary {
    @extend %almostRed;
    font-weight: 300;
}

.hidden {
    display:none;
}

/* ------------------
    header
-------------------*/
.navbar {
    @extend %green;
    .nav-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
        a {
            @extend %lightblue;
            font-weight: 300;
            @extend %w-opacity;
            text-decoration: none;
        }
    }
}

.navbar-light {
    .navbar-brand {
        padding:20px 0;
        display: flex;
        align-items: center;
        font-weight: 700;
        @extend %lightblue;
        font-size: 25px;
        transition: color ease 0.4s;
        i {
            margin-right: 8px;
            font-size: 30px;
            color:$orange;
            transition: color ease 0.4s;
        }
        &:hover {
            color:$orange;
            i {
                @extend %lightblue;
            }
        }
    }
}

/* ------------------
    main content
-------------------*/
main {
    padding:80px 0;
}

/* ------------------
    Aside Filters
-------------------*/
aside {
    &.box__filters {
        .filter__title {
            font-weight: 500;
            margin: 20px 0 8px;
            letter-spacing: 0.5px;
            @extend %lightblue;
            &:first-child {
                margin-top: 0;
            }
        }

        .data__filter {
            li {
                list-style-type: none;
                line-height: 28px;
                transition:all ease 0.2s;
                @extend %lightblue;
                opacity: 0.7;
                text-decoration: none;
                font-weight: 300;
                cursor: pointer;
                &:hover {
                    color:$orange;
                    opacity: 1;
                }
            }
        }
    }
}

/* ------------------
    Job Listing
-------------------*/

.box__content {
    .heading {
        margin-bottom: 40px;
        h1 {
            @include font-size(30px, 50px, 992px, 1280px);
            margin-bottom: 20px;
            font-weight: 700;
            @extend %lightblue;

            span {
                color:$orange;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color:$lightblue;
            opacity: 0.7;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }
}

.job__listing {
    .each__job {
        margin-bottom: 30px;
        transition: all 0.3s ease;
        background-color:$lightblue;
        padding:50px;
        align-items: center;
        position: relative;
        overflow: hidden;
        min-height: 250px;
       // box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    
        &:hover {
            box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
        }

        div {
            font-weight: 400;
            color:#333;

            .fa {
                color:$green;
            }

            .fa-calendar-check-o {
                color:$orange;
            }
        }

        .job__title {
            @include font-size(24px, 30px, 576px, 1280px);
            font-weight: 700;
            position: relative;
            left:-15px;
            margin-bottom: 20px;
            color:$green;
        }
        .text {
            display: flex;
            &:first-child {
                padding-right:20px;
            }
            .fa {
                padding-right: 5px;
            }
        }
        .job__data {
            div {
                margin-bottom: 8px;
            }
        }
        .job__description {
            line-height: 28px;
            margin-top: 40px;
        }
        &:hover {
            .total__applied {
                transform:translateX(0px) rotate(-90deg);
            }
        }
    }
    .no__job__post {
        font-weight: 700;
        @extend %almostRed-color;
        @include font-size(20px, 24px, 992px, 1280px);
        background:$lightblue;
        padding:20px 30px;
    }
    .total__applied {
        @extend %orange;
        @extend %lightblue;
        display:block;
        padding:8px 15px;
        font-size: 12px;
        font-weight: 300;
        height:28px;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        left:28px;
        transform-origin: left bottom;
        transform: translateX(-29px) rotate(-90deg);
        width:100%;
        letter-spacing: 1.5px;
        transition:all ease 0.4s;
    }
}

/* ------------------
    Job Preview
-------------------*/
.job__preview {
    .job__title {
        left:0 !important;
    }
    .job__data,
    .job__company {
        margin-left: 0;
    }
    .job__salary {
        margin-top: 15px;
    }
    .job__app__form {
        label {
            margin-bottom: 15px;
        }
        .alert {
            margin-top: 10px;
            font-size: 14px;
            display: none;
            &.show {
                display:block;
            }
        }
    }
}

/* ------------------
    Job Entry
-------------------*/
.job__entry {
    .alert {
        display: none;
        &.show {
            display: block;
        }
    }
}
/* ------------------
    Footer
-------------------*/
footer {
    background:$lightblue;
    padding:40px 0 30px;
    display:block;
    text-align: center;
    div {
        color:$green;
        line-height: 20px;
    }
}