@import "color";
@import "mixins";
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/* ------------------
    extensions
-------------------*/

%w-opacity {
    opacity:0.7;
    transition: opacity ease 0.3s;
    &:hover {
        opacity:1;
    }
} 

/* ------------------
    fonts
-------------------*/

%primary-font {
    font-family: 'Poppins', sans-serif;
}

/* ------------------
    reset
-------------------*/

body {
   @extend %green;
   @extend %primary-font;
}

.btn.btn-primary,
.btn.btn-secondary {
    border:0;
    border-radius:0;
    color: $lightblue !important;
    padding:16px 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);

    span {
        position: relative;
        z-index:2;
        color: $lightblue !important;
    }

    &:before {
        content:'';
        width:85%;
        height:100%;
        position: absolute;
        bottom:0;
        right:0;
        background:$green;
        z-index:0;
        transition:all ease 0.3s;
    }
    &:hover {
        border:0;
        box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
        &:before {
            width:15%;
        }
    }
}

.btn.btn-primary {
    @extend %orange;
}

.btn.btn-secondary {
    @extend %almostRed;
    font-weight: 300;
}

.hidden {
    display:none;
}

/* ------------------
    header
-------------------*/
.navbar {
    @extend %green;
    .nav-item {
        @include max(991px) {
            padding:0 0 10px;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
        a {
            @extend %lightblue;
            font-weight: 300;
            @extend %w-opacity;
            text-decoration: none;
           
        }
    }
}

.navbar-light {
    .navbar-brand {
        padding:20px 0;
        display: flex;
        align-items: center;
        font-weight: 700;
        @extend %lightblue;
        font-size: 25px;
        transition: color ease 0.4s;
        i {
            margin-right: 8px;
            font-size: 30px;
            color:$orange;
            transition: color ease 0.4s;
        }
        &:hover {
            color:$orange;
            i {
                @extend %lightblue;
            }
        }
    }
    .navbar-toggler {
        border-color:rgba($lightblue, 0.4);
        &-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}

/* ------------------
    main content
-------------------*/
main {
    padding:80px 0;
    @include max(991px) {
        padding:0 0 40px;
    }
}

.main__content {
    @include max(767px) {
        display:flex;
        flex-direction: column;
    }
}

/* ------------------
    Aside Filters
-------------------*/
aside {
    @include max(767px) {
        order:2;
        margin-top:30px;
        div {
            text-align: center;
        }
     }
    &.box__filters {
        .filter__title {
            font-weight: 500;
            margin: 20px 0 8px;
            letter-spacing: 0.5px;
            @extend %lightblue;
            &:first-child {
                margin-top: 0;
            }
        }

        .data__filter {
            li {
                list-style-type: none;
                line-height: 28px;
                transition:all ease 0.2s;
                @extend %lightblue;
                opacity: 0.7;
                text-decoration: none;
                font-weight: 300;
                cursor: pointer;
                &:hover {
                    color:$orange;
                    opacity: 1;
                }
            }
        }
    }
}

/* ------------------
    Job Listing
-------------------*/

.box__content {
    @include max(767px) {
       order:1;
       margin-top: 30px;
    }
    .heading {
        margin-bottom: 40px;
        h1 {
            @include font-size(30px, 50px, 992px, 1280px);
            margin-bottom: 20px;
            font-weight: 700;
            @extend %lightblue;

            span {
                color:$orange;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color:$lightblue;
            opacity: 0.7;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }
}

.job__listing {
    .each__job {
        margin-bottom: 30px;
        transition: all 0.3s ease;
        background-color:$lightblue;
        padding:50px 50px 50px 78px;
        align-items: center;
        position: relative;
        overflow: hidden;
        min-height: 250px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        @include max(991px) {
            flex-direction: column;
            align-items: flex-start;
        }
    
        &:hover {
            box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
        }

        .box-right {
            max-width: 120px;
            @include max(1199px) {
                padding:0;
                margin-top:20px;
                .btn.btn-primary {
                    left:-15px;
                }
            }
        }

        div {
            font-weight: 400;
            color:#333;

            .fa {
                color:$green;
            }

            .fa-calendar-check-o {
                color:$orange;
            }
        }

        .job__title {
            @include font-size(24px, 30px, 576px, 1280px);
            font-weight: 700;
            position: relative;
            left:-15px;
            margin-bottom: 20px;
            color:$green;
        }
        .text {
            display: flex;
            &:first-child {
                padding-right:20px;
            }
            .fa {
                padding-right: 5px;
            }
        }
        .job__data {
            div {
                margin-bottom: 8px;
            }
        }
        .job__description {
            line-height: 28px;
            margin-top: 40px;
        }
        .date__posted {
            padding-left:8px;
        }
        .company__name {
            @include max(500px) {
                margin-bottom: 12px;
            }
        }

        &:hover {
            .total__applied {
                transform:translateX(0px) rotate(-90deg);
            }
        }
    }
    .no__job__post {
        font-weight: 700;
        @extend %almostRed-color;
        @include font-size(20px, 24px, 992px, 1280px);
        background:$lightblue;
        padding:20px 30px;
    }
    .total__applied {
        @extend %orange;
        @extend %lightblue;
        display:block;
        padding:8px 15px;
        font-size: 12px;
        font-weight: 300;
        height:28px;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        left:28px;
        transform-origin: left bottom;
        transform: translateX(-29px) rotate(-90deg);
        width:100%;
        letter-spacing: 1.5px;
        transition:all ease 0.4s;
    }
}

/* ------------------
    Job Preview
-------------------*/
.job__preview {
    .job__title {
        left:0 !important;
    }
    .job__data,
    .job__company {
        margin-left: 0;
    }
    .job__salary {
        margin-top: 15px;
    }
    .section__company {
        display:flex;
        flex-wrap:wrap;
        margin-top: 80px;
        @include max(991px) {
            flex-direction: column;
        }
        .company__data {
            flex:1;
            @include max(991px) {
                margin-bottom: 60px;
            }
            @include min(992px) {
                padding-right: 40px;
            }
            .company__name {
                @extend %lightblue;
                @include font-size(24px, 30px, 576px, 1280px);
                font-weight: 700;
                span {
                    color:$orange;
                }
            }
            .company__descriptions {
                @extend %lightblue;
                line-height: 27px;
                opacity: 0.7;
                font-weight: 300;
                margin-top:30px;
                text-align: justify;
            }

            .division__title {
                @extend %lightblue;
                display: block;
                margin: 30px 0 15px;
                font-weight: 700;
                font-size: 20px;
            }

            .company__phone {
                @extend %lightblue;
                opacity:0.9;
                letter-spacing: 1px;
                i {
                    margin-right: 6px;
                }
            }
        }
        .job__app__form {
            flex:1;
            .form__title {
                @extend %lightblue;
                @include font-size(24px, 30px, 576px, 1280px);
                font-weight: 700;
                margin-bottom: 32px;
            }
            label {
                margin-bottom: 15px;
                @extend %lightblue;
            }
            
            .form-control {
                border:0;
                border-radius: 0;
                background:$lightblue;
                height:48px;
            }

            textarea.form-control {
                height:150px;
            }

            .alert {
                margin-top: 10px;
                font-size: 14px;
                display: none;
                border-radius: 0;
                padding:15px 20px;
                &.show {
                    display:block;
                }
            }

            .alert-success {
                background:$orange;
                border:0;
                color:$lightblue;
            }

            .btn.btn-primary {
                box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.5);
                margin-top:15px;
            }
        }   
    }
    
}

/* ------------------
    Job Entry
-------------------*/
.job__entry {
    @include max(991px) {
        order:1;
    }
    .alert {
        display: none;
        &.show {
            display: block;
        }
    }
    .job__entry__form {
        flex:1;
        .new__job__entry__title {
            @extend %lightblue;
            @include font-size(24px, 30px, 576px, 1280px);
            font-weight: 700;
            margin-bottom: 32px;
        }
        .form__title {
            @extend %lightblue;
            @include font-size(24px, 30px, 576px, 1280px);
            font-weight: 700;
            margin-bottom: 32px;
        }
        label {
            margin-bottom: 15px;
            @extend %lightblue;
        }
        
        .form-control {
            border:0;
            border-radius: 0;
            background:$lightblue;
            height:48px;
        }

        textarea.form-control {
            height:150px;
            padding-top:20px;
        }

        .alert {
            margin-top: 10px;
            font-size: 14px;
            display: none;
            border-radius: 0;
            padding:15px 20px;
            &.show {
                display:block;
            }
        }

        .alert-success {
            background:$orange;
            border:0;
            color:$lightblue;
        }

        .btn.btn-primary {
            box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.5);
            margin-top:15px;
        }
    }   
}

.section__job__entry {
    display: flex;
    @include max(991px) {
        flex-wrap: wrap;
    }
    .box__ads {
        max-width: 400px;
        background:$orange;
        padding:50px;
        @include max(991px) {
            order:2;
            max-width: 100%;
            margin-top:40px;
        }
        @include min(992px) {
            margin-left: 30px;
        }
        .ads__title {
            @include font-size(24px, 30px, 576px, 1280px);
            color:$green;
            margin-bottom: 15px;
            font-weight: 700;
            display: block;
        }
        p {
            color:$lightblue;
            line-height: 27px;
            color:rgb(33, 37, 41);
            text-align: justify;
        }
        .features__title {
            margin-top: 30px;
            display: block;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
            color:rgb(33, 37, 41);
        }
        ul {
            li {
                color:rgb(33, 37, 41);
                font-weight: 400;
                line-height: 26px;
                display: flex;
                &:before {
                    content: '\f3e8';
                    font-family: "Font Awesome 5 Brands";
                    margin-right:8px;
                    font-size: 18px;
                    color: $lightblue;
                }
            }
        }
    }
}
/* ------------------
    Footer
-------------------*/
footer {
    background:$lightblue;
    padding:40px 0 30px;
    display:block;
    text-align: center;
    div {
        color:$green;
        line-height: 20px;
    }
}